{
    "api": {
        "client_id": "CLIENT_ID",
        "client_secret": "CLIENT_SECRET"
    },
    "spotify": {
        "user_uri": "USER_URI",
        "playlist_uri": "PLAYLIST_URI"
    },
    "settings": {
        "max_artists": MAX_ARTISTS
    }
}